absl-py==1.1.0
aiobotocore==2.3.3
aiohttp==3.8.1
aiohttp-retry==2.4.8
aioitertools==0.10.0
aiosignal==1.2.0
appdirs==1.4.4
appnope==0.1.2
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
asyncssh==2.11.0
atpublic==3.0.1
attrs==21.4.0
backcall==0.2.0
boto3==1.21.21
botocore==1.24.21
Bottleneck==1.3.4
cachetools==5.2.0
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.0.12
colorama==0.4.5
commonmark==0.9.1
configobj==5.0.6
cryptography==37.0.2
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.1
dictdiffer==0.9.0
diskcache==5.4.0
distro==1.7.0
dpath==2.0.6
dulwich==0.20.43
dvc==2.11.0
dvc-data==0.0.2
dvc-objects==0.0.2
dvc-render==0.0.5
dvclive==0.9.0
entrypoints==0.4
executing==0.8.3
fastrlock==0.8
flatbuffers==1.12
flatten-dict==0.4.2
flufl.lock==7.0
fonttools==4.25.0
frozenlist==1.3.0
fsspec==2022.5.0
ftfy==6.1.1
funcy==1.17
future==0.18.2
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.8.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grandalf==0.6
grpcio==1.42.0
h5py==3.6.0
idna==3.3
imbalanced-learn==0.9.1
ipykernel==6.9.1
ipython==8.3.0
jedi==0.18.1
jmespath==1.0.1
joblib==1.1.0
jupyter-client==7.2.2
jupyter-core==4.10.0
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
libclang==14.0.1
lightgbm==3.2.1
mailchecker==4.1.17
Markdown==3.3.7
matplotlib==3.5.1
matplotlib-inline==0.1.2
multidict==6.0.2
munkres==1.1.4
nanotime==0.5.2
nest-asyncio==1.5.5
networkx==2.8.2
numexpr==2.8.1
numpy==1.22.3
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.2
parso==0.8.3
pathspec==0.9.0
patsy==0.5.2
pexpect==4.8.0
phonenumbers==8.12.50
pickleshare==0.7.5
Pillow==9.0.1
pip==21.2.4
prompt-toolkit==3.0.20
protobuf==3.19.4
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyaml==21.10.1
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydot==1.4.2
pygit2==1.9.2
Pygments==2.11.2
pygtrie==2.4.2
pyparsing==3.0.4
python-benedict==0.25.1
python-dateutil==2.8.2
python-fsutil==0.6.1
python-slugify==6.1.2
pytz==2022.1
PyYAML==6.0
pyzmq==22.3.0
requests==2.28.0
requests-oauthlib==1.3.1
rich==12.4.4
rsa==4.8
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
s3fs==2022.5.0
s3transfer==0.5.2
scikit-learn==1.1.1
scikit-optimize==0.9.0
scipy==1.7.3
scmrepo==0.0.24
seaborn==0.11.2
setuptools==61.2.0
shortuuid==1.0.9
shtab==1.5.5
six==1.15.0
smmap==5.0.0
stack-data==0.2.0
statsmodels==0.13.2
tabulate==0.8.10
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.9.0
tensorflow-macos==2.9.2
tensorflow-metal==0.5.0
termcolor==1.1.0
text-unidecode==1.3
threadpoolctl==2.2.0
toml==0.10.2
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
typing_extensions==4.2.0
urllib3==1.26.9
voluptuous==0.13.1
wcwidth==0.2.5
Werkzeug==2.1.2
wheel==0.37.1
wrapt==1.14.1
xmltodict==0.13.0
yarl==1.7.2
zc.lockfile==2.0
